services:
  tg-gpt-dev:
    container_name: tg-gpt-dev
    build: .
    env_file: dev.env
    restart: on-failure
    ports:
      - 8443:8443

  tg-gpt:
    container_name: tg-gpt
    build: .
    env_file: prod.env
    restart: on-failure
    ports:
      - 8443:8443
